Healthcare Appointment Workflow.json
{
  "name": "Healthcare Appointment Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Healthcare Appointment Form",
        "formDescription": "Book your healthcare appointment easily.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Doctor"
            },
            {
              "fieldLabel": "Appointment Date",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Symptoms",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "257173df-0f35-4ab9-a646-91398121027d",
      "name": "On form submission",
      "webhookId": "a9aa21b9-7a34-405d-a7c3-5426a130bf05"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FRIw0eNcgUkjmrwgFpG3dZjfwjG-T_bnOGrLHo8clDk",
          "mode": "list",
          "cachedResultName": "Patients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FRIw0eNcgUkjmrwgFpG3dZjfwjG-T_bnOGrLHo8clDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FRIw0eNcgUkjmrwgFpG3dZjfwjG-T_bnOGrLHo8clDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NAME": "={{ $json.Name }}",
            "E-MAIL": "={{ $json.Email }}",
            "DATE": "={{ $json['Appointment Date'] }}",
            "DOCTOR": "={{ $json.Doctor }}",
            "SYMPTOMS": "={{ $json.Symptoms }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-MAIL",
              "displayName": "E-MAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOCTOR",
              "displayName": "DOCTOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SYMPTOMS",
              "displayName": "SYMPTOMS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "47721c33-ae30-4cfa-9151-788b3dd76c2f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A73sB0rEfvH8gh83",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gdimpulchandrika@gmail.com",
        "subject": "Appointment Confirmation",
        "emailType": "text",
        "message": "=Hello {{ $json.NAME }},\n\nYour appointment has been confirmed successfully.\n\nPatient Name: {{ $json.NAME }}\nEmail: {{ $json['E-MAIL'] }}\nAppointment Date: {{ $json.DATE }}\nDoctor: {{ $json.DOCTOR }}\nSymptoms: {{ $json.SYMPTOMS }}\n\nThank you,\nHealthcare Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "893aac4b-66c4-4f5f-87e7-feff894f167c",
      "name": "Send a message",
      "webhookId": "aad816d9-8105-4f98-aea9-bc445cfb008e",
      "credentials": {
        "gmailOAuth2": {
          "id": "WlSXSUErY9Bpjapc",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "71c6f773-0c2d-464a-aa4b-43ff9b0d1c1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca31e85b4bff1e1c5a0bd86f564f6efc466b8676c9fc278d7017cf08d1f9589d"
  },
  "id": "7UEiN9OEADCmdaG3",
  "tags": []
}